doctype html
html
	head
		title Wildlife Tracker
		body
			#root

			each cssFile in htmlWebpackPlugin.files.css
				style !{compilation.assets[cssFile.substr(htmlWebpackPlugin.files.puglicPath.length)].source()}

			each jsFile in htmlWebpackPlugin.files.js
				script !{compilation.assets[jsFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()}