#root
	//background-color: cyan
	//height: 100px
	//width: 100%

#App
	display: flex
	flex-direction: row
	width: 100%
	height: 100%
	background-color: #d4e6e3

.UserButton
	width: 15%

.Main
	width: 70%
	display: flex
	flex-direction: column
	justify-content: center

.AddButtons
	width: 15%

.PageButtons
	display: flex
	justify-content: space-between

.title, .Header
	display: flex
	justify-content: center

.MapContainer
	display: flex
	justify-content: center
	border: 1px solid gray
	border-radius: 3px
	height: 200px
	background-color: gray
	margin-top: 3px

.TopBar
	background-color: #9bc4bc
	height: 150px

.Header


.test
	background-color: purple
	height: 200px
	width: 50px

