#root
	background-color: cyan
	height: 100px
	width: 100%

.test
	background-color: purple
	height: 200px
	width: 50px

.foo
	font-weight: bold
	color: lime

.SightingAsText
	display: flex
	justify-content: space-between
	width: 50%
	border: 1px solid gray
	margin: 3px