@use "./_library"
	
body
	margin: 0
	
#root
	background-color: library.$main-colour
	height: 100%
	width: 100%

#App
	display: flex
	flex-direction: column
	width: 100%
	height: 100%
	background-color: library.$main-colour

.logoButton
	width: 200px

.mainContainer
	display: flex
	flex-direction: column
	justify-content: space-around
	align-items: center

.main
	display: flex
	flex-direction: column
	max-width: library.$max-width
	width: 100%


.addButtons
	width: 200px

.pageButtons
	display: flex
	justify-content: space-between

.pageButtons img
	height: 50px
	&:hover
		cursor: pointer

.titleContainer
	display: flex
	justify-content: center
	height: 100px

.title
	display: flex
	justify-content: center
	height: fit-content
	width: fit-content
	&:hover
		cursor: pointer

.mapContainer
	@include library.rounded-border
	display: flex
	width: 100%
	height: 200px
	background-color: gray
	margin: 3px 0

.topBar
	display: flex
	flex-direction: row
	justify-content: space-between
	background-color: library.$header-colour
	height: 100px

.floatingButtons
	display: flex
	justify-content: flex-end
	position: fixed
	bottom: 0
	right: 0
	z-index: 99
	width: 200px

.floatingContainer
	display: flex
	flex-direction: column

.floatingLogo
	height: 60px
	width: 60px
	margin: 0 5px 5px 0
	border-radius: 25px
	box-shadow: 0 0 8px #a9a9a9
	&:hover
		cursor: pointer

@media (screen and max-width: library.$max-width)
	.floatingButtons
		display: none
