.NewSighting
	display: flex
	flex-direction: column
	width: 30%
	border: 1px solid black
	border-radius: 3px

.NewSighting form
	display: flex
	flex-direction: column

.NewSighting .inputDiv
	text-align: right

.NewSighting .submit
	width: fit-content
	margin: 5px
	padding: 0 10px
	border: 1px solid gray
	border-radius: 3px

.NewSighting .inputLabel
	display: flex
	justify-content: space-between

.NewSighting .inputLabel span
	margin: 5px 15px
	width: 60px
	display: inline-block

.NewSighting .inputLabel input
	margin: 5px 
	width: 70%
	border: 1px solid gray
	border-radius: 3px

