@use "../../../_library"

.markerContainer
	position: absolute
	bottom: 0
	height: 100px
	width: 30px
	
.marker
	position: absolute
	bottom: 0
	height: 30px
	width: 30px

.infobox
	height: fit-content
	width: fit-content
	background-color: white